<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.username">root</property>
	<property name="connection.password">subithiru07</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/HMS
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<property name="connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>

<property name="hbm2ddl.auto">update</property>

<property name="show_sql">true</property>


		<mapping class="com.dxc.hms.model.Admin"/>
		<mapping class="com.dxc.hms.model.Doctor"/>
		<mapping class="com.dxc.hms.model.Patient"/>
		<mapping class="com.dxc.hms.model.Pharmacist"/>
		<mapping class="com.dxc.hms.model.Receptionist"/>
		<mapping class="com.dxc.hms.model.Appointments"/>
		<mapping class="com.dxc.hms.model.ConfirmedAppointment"/>
		<mapping class="com.dxc.hms.model.Medicalstock"/>
		<mapping class="com.dxc.hms.model.Prescription"/>
		<mapping class="com.dxc.hms.model.Admission"/>
		<mapping class="com.dxc.hms.model.Rooms"/>
		<mapping class="com.dxc.hms.model.Bill"/>
		
		
	
		


	</session-factory>

</hibernate-configuration>